<html>
<head>
	<link rel="stylesheet" href="../stylesheets/happy_clown.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../src/happy_clown.js"></script>
	<script src="../src/game.js"></script>
	<script src="../src/joke.js"></script>
	<script src="../src/interface.js"></script>
</head>
<body>

<div id='page'>
	<h1 id='title'>Happy Clown</h1>
	
	<div id='clown_face'>
		<img id='clown' src='../clown.png'>
	</div>
	<div id='happyStatus'>
		Happyness score
	</div>
</div>
	<div id='joke_choices'>
	</div>

</body>
</html>
