<html>
<head>
	<link rel="stylesheet" href="../stylesheets/happy_clown.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../src/game.js"></script>
	<script src="../src/happy_clown.js"></script>
	<script src="../src/joke.js"></script>
	<script src="../src/interface.js"></script>
</head>
<body>

<div id='page'>
	<h1 id='title'>Happy Clown</h1>
	
	<div id='clown_face'>
		Clown face draw
	</div>
	<div id='happyStatus'>
		Happyness score
	</div>
</div>
	<div id='joke_choices'>
		<button id='joke1'>joke1</button>
		<button id='joke2'>joke2</button>
		<button id='joke3'>joke3</button>
		<button id='joke4'>joke4</button>
	</div>

</body>
</html>
